<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Saved Recipes</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            Saved Recipes
            <a href="/" class="home-link">Home</a>
        </header>
        <div class="recipe-container">
            <% if (recipes.length > 0) { %>
                <ul>
                    <% recipes.forEach(recipe => { %>
                        <li>
                            <h2><%= recipe.recipeName %></h2>
                            <p>Ingredients: <%= recipe.ingredientName %></p>
                            <p>dietary requirements: <%= recipe.dietaryReq %></p>
                            <p><%= recipe.macros[0] %></p>
                            <p><%= recipe.macros[1] %></p>
                            <p><%= recipe.macros[2] %></p>
                            <p><%= recipe.macros[3] %></p>
                            <p><%= recipe.macros[4] %></p>
                            <p><%= recipe.macros[5] %></p>
                            <p>cooking time: <%= recipe.cookingTime %></p>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>No saved recipes found.</p>
            <% } %>   
        </div>    
    </body>
</html>

